@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.ValidationSummary("", new { @class = "text-danger" })
<div class="well">
    <h1>League Updates</h1>
    <p>Jan 15, 2014</p>
    <p class="lead">Alpha version of site launched.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-lg-4">
        <h2>More Updates?</h2>
        <p>
            Here's another section where we can put whatever we want.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-lg-4">
        <h2>Update #3</h2>
        <p>Blah, blah, blah...</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-lg-4">
        <h2>Update #4</h2>
        <p>You get the point by now...</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>