.card-header.with-nav-tabs {
    padding: 0.5em 0.5em 0em;
}

    .card-header.with-nav-tabs .nav-tabs {
        border-bottom: none;
    }

    .card-header.with-nav-tabs .nav-justified {
        margin-bottom: 0em;
    }

/********************************************************************/
/*** PANEL PRIMARY ***/
.with-nav-tabs.bg-primary .nav-tabs > li > a,
.with-nav-tabs.bg-primary .nav-tabs > li > a:hover,
.with-nav-tabs.bg-primary .nav-tabs > li > a:focus {
    color: #fff;
}

    .with-nav-tabs.bg-primary .nav-tabs > .open > a,
    .with-nav-tabs.bg-primary .nav-tabs > .open > a:hover,
    .with-nav-tabs.bg-primary .nav-tabs > .open > a:focus,
    .with-nav-tabs.bg-primary .nav-tabs > li > a:hover,
    .with-nav-tabs.bg-primary .nav-tabs > li > a:focus {
        color: #fff;
        background-color: #3071a9;
        border-color: transparent;
    }

    .with-nav-tabs.bg-primary .nav-tabs > li > a.active,
    .with-nav-tabs.bg-primary .nav-tabs > li > a.active:hover,
    .with-nav-tabs.bg-primary .nav-tabs > li > a.active:focus {
        color: #428bca;
        background-color: #fff;
        border-color: #428bca;
        border-bottom-color: transparent;
    }

.with-nav-tabs.bg-primary .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #428bca;
    border-color: #3071a9;
}

    .with-nav-tabs.bg-primary .nav-tabs > li.dropdown .dropdown-menu > li > a {
        color: #fff;
    }

        .with-nav-tabs.bg-primary .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
        .with-nav-tabs.bg-primary .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
            background-color: #3071a9;
        }

    .with-nav-tabs.bg-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a,
    .with-nav-tabs.bg-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
    .with-nav-tabs.bg-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
        background-color: #4a9fe9;
    }

td > ul {
    margin-bottom: 0px;
}

.table > thead > tr > th {
    vertical-align: middle;
}

.pie {
    width: 100%;
    height: 200px;
}

.pie-label {
    position: absolute;
    left: 0;
    top: 32%;
    font-size: 36pt;
    color: #5bc0de;
    width: 100%;
    height: 120px;
    text-align: center;
}

ul.droppable {
    list-style-type: none;
    margin: 0;
    float: left;
    margin-right: 10px;
    background: #eee;
    padding: 5px;
    width: 100%;
    max-height: 120px;
    overflow: auto;
}

    ul.droppable > li {
        margin: 2px;
        padding: 2px;
        font-size: 1em;
    }

.propose-top {
    height: 70px;
}

.propose-middle {
    height: 120px;
}

.propose-bottom {
    height: auto;
}

.table > tbody > tr.offers-row > td {
    font-size: .8em;
    text-align: center;
}

.table > tbody > tr.offers-row > td,
.table > tbody > tr.playerRow > td {
    vertical-align: middle;
}

.offers-row > td > ul > li {
    padding: 4px;
}

.table > tbody > tr.active > th,
.table > tbody > tr.active > td,
.table > tbody > tr.active > td > ul > li {
    background-color: #123456;
    color: white;
    font-weight: bold;
}

.list-group {
    margin-bottom: 0px;
}

.player-photo {
    height: 40px;
    width: 40px;
    vertical-align: middle;
    width: auto;
    border-radius: 50%;
    box-shadow: 0 0 1px 1px #999;
    visibility: visible;
}

.playerRow > td > label.tgl-btn {
    margin-left: auto;
    margin-right: auto;
}
