@model HP.Models.StandingsViewModel

<div class="row">
    <div class="col">
        <div class="card my-sm-2">
            <div class="card-header">
                <div class="input-group">
                    <div class="input-group-prepend">
                        @Html.LabelFor(model => Model.SelectedSeasonID, new { @class = "input-group-text d-none d-sm-block" })
                    </div>
                    @Html.DropDownListFor(model => Model.SelectedSeasonID, Model.Seasons, new { id = "DraftSeasonID", @class = "form-control" })
                </div>
            </div>
        </div>
    </div>
</div>
<div id="picks" class="row"></div>


<script type="text/plain" id="tmpl_picks">
    {{~it: Round}}
    <div class="col">
        <table class="table table-bordered table-condensed table-responsive-sm table-striped">
            <thead>
                <tr>
                    <td colspan="4">Round {{=Round.Round}}</td>
                </tr>
                <tr>
                    <td>Pick</td>
                    <td>Team</td>
                    <td>Player</td>
                </tr>
            </thead>
            <tbody>
                {{~Round.Picks: Pick}}
                <tr id="Pick{{=Pick.Id}}" class="md-18">
                    <td>{{=Pick.PickOrder}}</td>
                    <td>{{=Pick.OwnerName}}</td>
                    <td>
                        <div class="input-group" {{?!Pick.LastName}} hidden {{?}}>
                            <label type="text" class="form-control" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="{{=Pick.Team}}" readonly>
                                <a target="_blank" href="https://www.nhl.com/player/{{=Pick.Selection}}">{{?Pick.LastName}}{{=Pick.LastName}}, {{=Pick.FirstName}}{{?}}</a>
                            </label>
                            <div class="input-group-append">
                                <button type="button" class="editpick btn btn-info btn-xs-text">
                                    <i class="material-icons">edit</i>
                                </button>
                            </div>
                        </div>
                        <input type="text" class="autocomplete form-control nhlsearch" placeholder="Select" {{?Pick.LastName}} hidden {{?}}>
                    </td>
                </tr>
                {{~}}
            </tbody>
        </table>
    </div>
    {{~}}
</script>