
<div id="rosters" class="row my-2"></div>

<script type="text/plain" id="tmpl_rosters">
    {{~it: Team}}
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 table-responsive">
        <table id="roster{{=Team.Id}}" class="table table-striped" data-toggle="table">
            <thead>
                <tr>
                    <th colspan="2" class="text-center"><a class="text-light" href="/Team/Index/{{=Team.Id}}">{{=Team.Name}}</a></th>
                </tr>
            </thead>
            <tbody>                
                {{~Team.PlayerAssets: Asset: i}}
                <tr>
                    {{?Asset.Position}}
                    <td class="text-center">{{=Asset.Position}}</td>
                    <td>
                        <span data-toggle="tooltip" data-placement="bottom" title="" data-original-title="{{=Asset.AssetTooltip}}">
                            <a target="_blank" href="https://www.nhl.com/player/{{=Asset.PlayerId}}">{{=Asset.AssetName}}</a>
                        </span>
                    </td>
                    {{?}}
                </tr>
                {{~}}
            </tbody>

            <tfoot><tr><th class="text-right" colspan="2">{{=Team.PlayerAssets.length}}</th></tr></tfoot>
        </table>
        <table id="pick{{=Team.Id}}" class="table table-striped" data-toggle="table">
            <tbody>
                {{~Team.PickAssets: Asset}}
                <tr>
                    {{?Asset.Position}}
                    {{?? true}}
                    <td colspan="2" class="text-center bg-info">{{=Asset.AssetName}}</td>
                    {{?}}
                </tr>
                {{~}}
            </tbody>
        </table>
    </div>
    {{~}}
</script>
