@model HP.Models.StandingsViewModel

<div class="row">
    <div class="col">
        <div class="card my-sm-2">
            <div class="card-header">
                <div class="input-group">
                    <div class="input-group-prepend">
                        @Html.LabelFor(model => Model.SelectedSeasonID, new { @class = "input-group-text d-none d-sm-block" })
                    </div>
                    @Html.DropDownListFor(model => Model.SelectedSeasonID, Model.Seasons, new { @class = "form-control" })
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <table id="tradesTable" class="table table-bordered table-condensed table-responsive-sm table-striped" data-toggle="table">
            <thead>
                <tr>
                    <th rowspan="2">Date</th>
                    <th class="text-center" colspan="2">From</th>
                    <th class="text-center" colspan="2">To</th>                                        
                    <th rowspan="2">Notes</th>
                </tr>
                <tr>
                    <th>Team</th>
                    <th>Receives</th>
                    <th>Team</th>
                    <th>Receives</th>
                </tr>
            </thead>
            <tbody class="scroll-tbody"></tbody>
        </table>
    </div>
</div>
