@model HP.Models.StandingsViewModel

@{
    ViewBag.Title = "Standings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Standings</h2>
<div class="form-group">
    @Html.LabelFor(model=>Model.SelectedSeasonId)
    @Html.DropDownListFor(model => Model.SelectedSeasonId, Model.Seasons, new { @class = "form-control" })
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <td>Rank</td>
            <td>Name</td>
            <td>Gain</td>
            <td>Total</td>            
        </tr>
    </thead>
    <tbody>
    @foreach (HP.Models.Team t in Model.Teams)
    {
        <tr>@Html.ActionLink(t.Name, "Index", "Team", new { id = t.Id }, null)</tr>
    }
    </tbody>
</table>


