@model HP.Models.StandingsViewModel

@{
    ViewBag.Title = "Standings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Standings</h2>
<div class="form-group">
    <label for="sel1">Season:</label>
    <select class="form-control" id="sel1">
        <option>2014</option>
        <option>2013</option>
        <option>2012</option>
        <option>2011</option>
    </select>
</div>

<table>
    <thead>
        <tr>
            <td>Rank</td>
            <td>Name</td>
            <td>Gain</td>
            <td>Total</td>
        </tr>
    </thead>
</table>


