@model HP.Models.LoginViewModel

<div class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".main-nav">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse main-nav">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Home", null, new { @class = "active" })</li>
                <li>@Html.ActionLink("Team", "Team", "Home")</li>
                <li>@Html.ActionLink("Standings", "Standings", "Pool")</li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="navbar-form">
                    <div class="form-group">
                        <select class="form-control" id="sel1">
                            <option>New Life</option>
                            <option>CHL</option>
                        </select>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
