@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="m-lg-4">
    <div class="card bg-light mr-auto">
        <div class="card-body">
            <h1 class="card-title">Site Updates</h1>
            <p class="card-subtitle mb-2 text-muted">Sep 27, 2017</p>
            <p class="card-text">
                New Features Added:
                <ul>
                    <li>Trades</li>
                    <li>Position Import</li>
                    <li>Revamped Add/Drop</li>
                </ul>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4">
            <div class="card bg-light my-2">
                <div class="card-body">
                    <h5 class="card-title">Site Updates</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Oct 12, 2016</h6>
                    <p class="card-text">
                        New Features Added:
                        <ul>
                            <li>Lineup Deadlines</li>
                            <li>Schedule Day of the Week</li>
                            <li>Reset Lineup</li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card bg-light my-2">
                <div class="card-body">
                    <h5 class="card-title">Site Updates</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Nov 09, 2015</h6>
                    <p class="card-text">Beta Testing opened.</p>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card bg-light my-2">
                <div class="card-body">
                    <h5 class="card-title">Site Updates</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Jan 15, 2014</h6>
                    <p class="card-text">Alpha version of site launched.</p>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</div>